/*
 * common style
 */
.a {
    &:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width:800px) {
    .test {
        width: 100px;
    }
}
@media screen and (max-width:800px) {
    .test2 {
        width: 200px;
    }
}
